---
import "../styles/base.css";

import MainLayout from "../layouts/MainLayout.astro";

import Reason from "@components/Reason.astro";
import Title from "@components/Title.astro";
import Subtitle from "@components/Subtitle.astro";
import Faq from "@components/Faq.astro";

import heroBg from "@assetsLocal/renders/f32.png";
import reasonsBg from "@assetsLocal/renders/f121.png";
import buyBg from "@assetsLocal/renders/f23.png";
import flower from "@assetsLocal/icons/flower.svg";
import leafs from "@assetsLocal/icons/leafs.svg";
---

<MainLayout title="Revival">
	<section id="hero" class="w-full h-[60vh] xs:h-[75vh] s:h-[85vh] smd:h-[95vh] relative bg-[#DEDEDE] overflow-hidden">
		<img src={heroBg.src} alt="" class="absolute w-[220vw] s:w-[200vw] smd:w-[180vw] md:w-[160vw] m:w-[140vw] lg:w-[120vw] l:w-full bottom-0 -right-28 xs:-right-40 md:-right-20 m:-right-12 l:right-0 max-w-none">
		<div class="h-full flex m:items-stretch absolute left-[5%] lg:left-[7.5%] top-[15%] m:top-0">
			<div class="m:self-center flex flex-col w-3/4 md:w-1/2 l:w-1/3">
				<h2 class="uppercase tracking-wider font-semibold">spoznajte</h2>
				<span class="title uppercase tracking-wider font-bold">Revival</span>
				<p class="text-secondary w-full sm:w-1/2 md:w-full l:w-full text-sm m:text-base mt-1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt ullamcorper ex, nec bibendum metus sagittis vel.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</p>
				<a href="" class="primary-button mt-12 w-2/3 md:w-4/5 tracking-wider px-2 text-xs s:text-base hidden xs:block">Viac o Revivale</a>
			</div>
		</div>
		<a href="" class="primary-button mt-12 w-[70%] left-[15%] md:w-4/5 tracking-wider px-2 text-xs s:text-base block xs:hidden absolute bottom-4">Viac o Revivale</a>
	</section>

	<section id="about" class="content mt-24 flex flex-col">
		<Subtitle title="o produkte"/>
		<Title title="Čo je to revival"/>

		<p class="text-tertiary w-full m:w-3/4 l:w-2/3 text-sm sm:text-base m:text-lg mt-4 sm:mt-8 text-center mx-auto tracking-wider">
			Fusce at tincidunt quam. Donec vitae ornare enim. Nullam dictum eu enim a porta. Morbi vitae dictum urna, sed pulvinar sapien. Praesent convallis ac nisi eu sodales. Nullam eleifend sodales ante. Vestibulum nec egestas nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hac habitasse platea dictumst. Donec nisl dui, dictum ultricies sem nec, lacinia imperdiet metus. Proin laoreet hendrerit arcu quis luctus.
		</p>

		<a href="" class="primary-button mx-auto mt-20 tracking-wider">Kúpiť Revival</a>

		<div class="mt-24 flex flex-col s:flex-row s:justify-around space-y-12 s:space-y-0 w-full md:w-3/4 lg:w-2/3 l:w-1/2 mx-auto">
			<div class="w-full s:w-1/3 mx-auto">
				<img src={flower.src} alt="" class="w-16 h-16 md:w-24 md:h-24 mx-auto">
				<h4 class="text-center mt-2 text-primary">Šetrný k prírode</h4>
			</div>
			<div class="w-full s:w-1/3 mx-auto">
				<img src={leafs.src} alt="" class="w-16 h-16 md:w-24 md:h-24 mx-auto">
				<h4 class="text-center mt-2 text-primary">Na prírodnej báze</h4>
			</div>
		</div>
	</section>

	
	<section id="reasons" class="mt-32 flex flex-col bg-center bg-no-repeat bg-cover" style={{backgroundImage: `url('${reasonsBg.src}')`,}}>
		<div class="w-full h-full bg-opacity-50 bg-white m:bg-transparent m:bg-opacity-0">
			<div class="content pt-12 pb-24">
				<Subtitle title="výhody revivalu"/>
				<Title title="prečo užívať revival"/>
			
				<div class="mt-12 grid grid-cols-1 m:grid-cols-3 l:grid-cols-4 gap-4 backdrop-blur-sm m:backdrop-blur-none">
					<Reason title="Dôvod 1" float="text-left m:text-right" desc="Duis eget dui id magna eleifend sagittis. Nam eget facilisis sapien. Integer in nibh volutpat, venenatis arcu vitae"/>
					<div class="hidden m:block l:col-span-2"></div>
					<Reason title="Dôvod 2" float="text-left" desc="Duis eget dui id magna eleifend sagittis. Nam eget facilisis sapien. Integer in nibh volutpat, venenatis arcu vitae"/>
					<Reason title="Dôvod 3" float="text-left m:text-right" desc="Duis eget dui id magna eleifend sagittis. Nam eget facilisis sapien. Integer in nibh volutpat, venenatis arcu vitae"/>
					<div class="hidden m:block l:col-span-2"></div>
					<Reason title="Dôvod 4" float="text-left" desc="Duis eget dui id magna eleifend sagittis. Nam eget facilisis sapien. Integer in nibh volutpat, venenatis arcu vitae"/>
					<Reason title="Dôvod 5" float="text-left m:text-right" desc="Duis eget dui id magna eleifend sagittis. Nam eget facilisis sapien. Integer in nibh volutpat, venenatis arcu vitae"/>
					<div class="hidden m:block l:col-span-2"></div>
					<Reason title="Dôvod 6" float="text-left" desc="Duis eget dui id magna eleifend sagittis. Nam eget facilisis sapien. Integer in nibh volutpat, venenatis arcu vitae"/>
				</div>
			</div>
		</div>
	</section>

	<section id="faq" class="content mt-24 flex flex-col">
		<Subtitle title="faq"/>
		<Title title="časté otázky"/>

		<div class="mt-12 flex flex-col space-y-4">
			<Faq question="Otázka 1" answer="Duis eget dui id magna eleifend sagittis. Nam eget facilisis sapien. Integer in nibh volutpat, venenatis arcu vitae" />
			<Faq question="Otázka 2" answer="Duis eget dui id magna eleifend sagittis. Nam eget facilisis sapien. Integer in nibh volutpat, venenatis arcu vitae" />
			<Faq question="Otázka 3" answer="Duis eget dui id magna eleifend sagittis. Nam eget facilisis sapien. Integer in nibh volutpat, venenatis arcu vitae" />
		</div>

		<div class="w-max mx-auto mt-12 flex flex-col space-y-4">
			<p class="text-secondary">
				Nenašli ste odpoveď na svoju otázku?
			</p>
			<a href="" class="primary-button mx-auto mt-20 tracking-wider">Napíšte nám</a>
		</div>
	</section>

	<section id="buy" class="mt-24 bg-left-bottom bg-no-repeat bg-cover" style={{backgroundImage: `url('${buyBg.src}')`,}}>
		<div class="py-12 m:py-24 bg-opacity-100 bg-[#dedede] m:bg-transparent m:bg-opacity-0">
			<div class="content flex flex-row justify-end ">
				<div class="w-full m:w-1/2 flex flex-col ">
					<h1 class="text-3xl sm:text-5xl tracking-wider text-center m:text-left font-black mt-4 text-contrast uppercase">
						zaujal vás revival?
					</h1>
					<p class="text-secondary w-full mt-2 text-center m:text-left">
						Fusce at tincidunt quam. Donec vitae ornare enim. Nullam dictum eu enim a porta. Morbi vitae dictum urna, sed.
					</p>
					<a href="" class="primary-button w-max mx-auto m:mx-0 mt-12 m:mt-20 tracking-wider">Kúpiť Revival</a>
				</div>
			</div>
		</div>
	</section>
</MainLayout>